!!! 5
html
  head
    include includes/head.jade
  body
    .container
      .page-header
        h1 {{page.title}}&nbsp;
          small Benjamin Dreux&nbsp;
            a(href='https://twitter.com/BenjaminDreux')
              i.fa.fa-twitter&nbsp;
            a(href='https://github.com/benzen')
              i.fa.fa-github&nbsp;
            a(href='http://stackoverflow.com/users/340467/benzen')
              i.fa.fa-stack-overflow&nbsp;
            a(href='https://www.linkedin.com/pub/benjamin-dreux/18/7a/aa6')
              i.fa.fa-linkedin&nbsp;
            a(href='http://www.code3.ca')
              i.fa.fa-rebel&nbsp;
      ul.list-unstyled {% for post in site.posts %}
        li.post-divider
          h2
            a(href='{{ post.url }}#disqus_thread', data-disqus-identifier="{{permalink}}") {{ post.title }}&nbsp;
            | {% for tag in post.tags %}
            span.badge {{tag}}
            | {% endfor %}
          p
            | {{post.excerpt}}
        | {% endfor %}
