!!! 5
html
  head
    script.
      var disqus_identifier = "{{page.id}}";

    include includes/head.jade

    title Benzen - {{ page.title }}

  body
    .container
      h1
        a(href='/')
          i.fa.fa-home.fa-lg&nbsp;
        | {{page.title }}&nbsp;
        small
          a(href='{{ permalink }}')
            i.fa.fa-link&nbsp;
          | publié le: {{page.date | date:" %F"}}
      ul.list-inline(style='display: inline-block;')
        | {% for tag in page.tags %}
        li.badge {{tag}}
        | {% endfor %}
      | {{content }}

      include includes/discus.jade
