meta(http-equiv='content-type', content='text/html;charset=utf-8')

script(src='/js/jquery.js', charset='utf-8')
script(src='/js/bootstrap.js', charset='utf-8')

link(rel='stylesheet', type='text/css', href='/css/bootstrap.css')
link(rel='stylesheet', type='text/css', href='/css/font-awesome.css')
link(rel='stylesheet', type='text/css', href='/css/pygments.css')
link(rel='stylesheet', type='text/css', href='/css/blog.css')
include ./googleAnalytics.jade
