<!DOCTYPE html>
<html>
  <head>
    <script src="/js/jquery.js" charset="utf-8"></script>
    <script src="/js/bootstrap.js"charset="utf-8"> </script>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/css/pygments.css">

    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  </head>
  <body>
    <div class="container">
      <div class="page-header">
          <h1>
            {{page.title}}
            <small>
               Benjamin Dreux
              <a href="https://twitter.com/BenjaminDreux">
                <i class="fa fa-twitter"></i>
              </i>
              <a href="https://github.com/benzen">
                  <i class="fa fa-github"></i>
              </a>
              <a href="http://stackoverflow.com/users/340467/benzen">
                <i class="fa fa-stack-overflow"></i>
              </a>
              <a href="https://www.linkedin.com/pub/benjamin-dreux/18/7a/aa6">
                <i class="fa fa-linkedin"></i>
              </a>
              <a href="http://www.code3.ca">
                <i class="fa fa-rebel"></i>
              </a>
            </small>
          </h1>
      </div>
      <ul>
        {% for post in site.posts %}
          <li class="list-unstyled divider">
            <h2>
              <a href="{{ post.url }}">
                {{ post.title }}
              </a>
              <ul class="list-inline" style="display: inline-block">
                {% for tag in post.tags %}
                  <li class="badge">{{tag}}</li>
                {% endfor %}
              </ul>
            </h2>
            <p>
              {{post.content}}
            </p>
          </li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>
