<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <title>Benzen - {{ page.title }}</title>
    <script type="text/javascript" src="/js/jquery.js"> </script>
    <script type="text/javascript" src="/js/bootstrap.js"> </script>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.css">
  </head>
  <body>
    <div class="container">

      <h1>
        <a href="/">
          <i class="fa fa-home fa-lg"></i>
        </a>
        {{page.title }}
        <small>
          <a href="{{ permalink }}">
            <i class="fa fa-link"></i>
          </a>
          publié le: {{page.date | date:" %F"}}
        </small>

      </h1>
      <ul class="list-inline" style="display: inline-block">
        {% for tag in page.tags %}
          <li class="badge">{{tag}}</li>
        {% endfor %}
      </ul>


      {{content }}

      <div id="disqus_thread"></div>
      <script type="text/javascript">
          /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
          var disqus_shortname = 'benzen'; // required: replace example with your forum shortname

          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>


  </div>
</body>
</html>
